<div class="container" ng-controller="PregledOcjenaUcenikPredmetiController">
    <h1>Pregled ocjena učenika <b>{{trKorisnik.Ime_korisnika}} {{trKorisnik.Prezime_korisnika}}</b></h1>
    <br />

    <table class="table table-striped table-bordered" style="padding-top:5px">
        <thead>
            <tr>
                <th>OCJENA</th>
                <th>OPIS</th>
                <th>DATUM OCJENE</th>
                <th>DATUM UPISA</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in ocjene">
                <td>{{o.Ocj}}</td>
                <td>{{o.Opis}}</td>
                <td>{{o.DatumOcjene}}</td>
                <td>{{o.DatumUpisa}}</td>
            </tr>
        </tbody>
    </table>

</div>
