<div class="container" ng-controller="UnosOcjenaUcenikPredmetiController">
    <h1>Unesite ocjenu učeniku</h1>
    <br />

    <table class="table table-bordered">
        <thead>
            <tr class="success">
            <tr>
                <td><b>{{trKorisnik.Ime_korisnika}} {{trKorisnik.Prezime_korisnika}}</b></td>
            </tr>          
            
        </thead>
        <tbody>
            <tr>
                <td>
                    Ocjena
                </td>
                <td>
                    <input type="number" min="1" max="5" id="Ocjena" placeholder="Ocjena" ng-model="ocj" />
                </td>
            </tr>
            <tr>
                <td>
                    Opis ocjene
                </td>
                <td>
                    <textarea name="Text1" cols="50" rows="5" id="Opis_ocjene" placeholder="Opis ocjene" ng-model="opis"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Datum ocjene
                </td>
                <td>
                    <input type="date" id="Datum_ocjene" placeholder="Datum ocjene" ng-model="datumOcjene" />
                </td>
            </tr>
            <tr class="success">
                <td colspan="2">
                    <input id="btnUpisi" class="btn btn-success" type="button" value="Upiši ocjenu" ng-click="upisi()" />
                </td>
            </tr>
        </tbody>
    </table>
  
</div>
