<div class="container" ng-controller="PredmetiController" ng-init="findPredmet(redoslijed='Ime_uzlazno', trazeniPojam, null)">
    <h1>Predmeti</h1>
    <br />
    <form class="form-inline" ng-submit="findPredmet(redoslijed='Ime_uzlazno', trazeniPojam, null)">
        <div class="form-group">
            <label>Pretraži</label>
            <input type="text" ng-model="trazeniPojam" class="form-control" placeholder="Pretraži">
            <button type="submit" class="btn btn-info btn-sm">PRETRAŽI</button>
        </div>
    </form>
    <br />
    <label><a ui-sref="addPredmeti">Dodaj predmet</a></label>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <a ng-click="findPredmet(redoslijed='Ime_silazno', trazeniPojam, null)">ˇ</a> <a ng-click="findPredmet(redoslijed='Ime_uzlazno', trazeniPojam, null)">^</a>
                    Ime predmeta
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Ime_predmeta'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>
                    UREDI/OBRIŠI
                </th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pr in predmeti">
                <td>{{pr.Ime_predmeta}}</td>
                <td><a ui-sref="editPredmeti({PrId: pr.Id})">Uredi ||</a>
                    <a ng-click="del(pr.Id)" style="cursor: pointer"> Obriši</a>
                </td>
            </tr>
        </tbody>
    </table>
    <form class="form-inline">
        <ul class="pagination">
            <li><a ng-click="findPredmet(redoslijed, trazeniPojam, '1')">1</a></li>
            <li><a ng-click="findPredmet(redoslijed, trazeniPojam, '2')">2</a></li>
            <li><a ng-click="findPredmet(redoslijed, trazeniPojam, '3')">3</a></li>
            <li><a ng-click="findPredmet(redoslijed, trazeniPojam, '4')">4</a></li>
        </ul>
    </form>
</div>
