<div class="container" ng-controller="PotvrdaKorisnikaController" style="padding-top:20px" ng-init="potvrdaOdbijeno()">
    <!--!!!!!*****ODBIJENO****!!!!-->
    <h1>Korisnici u sustavu</h1>
    <div padding-top:20px;">
        <a ui-sref="potvrdaKorisnika">NERIJEŠENO</a> ||
        <a ui-sref="potvrdaKorisnikaPotvrdeno">POTVRĐENO</a> ||
        <a ui-sref="potvrdaKorisnikaOdbijeno"><b>ODBIJENO</b></a>
    </div>
    <table class="table table-striped table-bordered" style="padding-top:5px">
        <thead>
            <tr>
                <th>POTVRDI</th>
                <th>IME KORISNIKA</th>
                <th>PREZIME KORISNIKA</th>
                <th>KORISNIČKO IME</th>
                <th>ROLE</th>
                <th>POTVRDA</th>
                <th>OBRISI</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="korisnik in korisnici">
                <td style="text-align:center"><a ng-click="da(korisnik.Id)" style="cursor: pointer">Da</a></td>
                <td>{{korisnik.Ime_korisnika}}</td>
                <td>{{korisnik.Prezime_korisnika}}</td>
                <td>{{korisnik.Korisnicko_ime}}</td>
                <td>{{korisnik.Uloga}}</td>
                <td>{{korisnik.Potvrda}}</td>
                <td><button type="button" class="delete" ng-click="deleteK(korisnik.Id)">OBRISI</button></td>
            </tr>
        </tbody>
    </table>
</div>
