<form ng-controller="PopraviKvizController" name="vmkEditForm" class="container">

    <h4 style="margin-top:20px">Popunite sva polja</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2" for="Pitanje">Pitanje</label>
        <div class="col-md-10">
        
            <input class="form-control text-box single-line" id="Pitanje" ng-model="pitanje" type="text"/> {{k.Pitanje}}
        </div><br /><br />
    </div>


    <div class="form-group">
        <label class="control-label col-md-2" for="Odg1">Odg1</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Odg1" ng-model="odg1" type="text" /> {{k.Odg1}}
        </div><br /><br />
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Odg2">Odg2</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Odg2" ng-model="odg2" type="text" /> {{k.Odg2}}
        </div><br /><br />
    </div>


    <div class="form-group">
        <label class="control-label col-md-2" for="Odg3">Odg3</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Odg3" ng-model="odg3" type="text" /> {{k.Odg3}}
        </div><br /><br />
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Tocan_odgovor">Tocan odgovor</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Tocan_odgovor" ng-model="tocan_odgovor" type="text" /> {{k.Tocan_odgovor}}
        </div><br /><br />
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Snimi" class="btn btn-default" ng-click="update()" />
        </div>
    </div>
</form>