<br />
<address>
    <h3>Diplomski rad</h3><br />
    <h4>Učenik:</h4>
    Stanko Zovko<br />
    Splitska 11<br />
    88000<br />
    <strong>Tel:</strong> 063 637 402<br />
    <strong>MAIL:</strong> <a href="mailto:stanko.zovko@fsre.sum.ba">stanko.zovko@fsre.sum.ba</a><br /><br />

    <h4>Mentor:</h4>
    Doc.dr.sc. Mirela Kundid Vasić - docent<br />
    Fakultet strojarstva,računarstva i elektrotehnike<br />
    <strong>MAIL:</strong> <a href="mailto:mirela.kundid.vasic@fsre.sum.ba">mirela.kundid.vasic@fsre.sum.ba</a><br /><br />
</address>


